.changeBtn {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #ccc;
}

.input {
    width: 38px;
    height: 32px;
    line-height: 27px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
}

.price {
    text-align: right;
}