.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 1000px;
}

.item {
    background: transparent;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title{
    color: blue;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: #000;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content-show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    line-height: 30px;
}